*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #404040;
}

ul{
    list-style: none;
}

.contenedor{
    width: 90%;
    margin: auto;
   
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-main .logotipo{
    font-size: 40px;
    color: #00cca3;
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 20px;
}


.nav-main ul li a:hover{
    border-bottom: 2px solid #00cca3;
    color: #1a1a1a;
}

/***********************************************Imagen principal*****************/

.foto-principal{
    width: 100%;
    height: 510px;
    background-image: /*linear-gradient(rgba(0, 0, 0, .30),*/ url(fondo2.jpg);
    object-fit: cover;
    background-position: 50%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #00cca3;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
    border-radius: 5%;
}

.boton:hover{
    opacity: .7;
    
}


.foto-principal h3,
.foto-principal p   {
    margin: 10px;

}

hr{
    margin: 10px 0 0 0;
    color: #00cca3;
}

/********************************************Responsive design*********************/
@media screen and (max-width: 800px){
    header .logotipo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
    }

    .foto-principal{
        font-size: 14px; /*Se achica el conjunto de los elementos que están dentro del contenedor foto-principal porque utilicé medidas relativas*/
    }

    .foto-principal .descripcion{
        max-width: 100%;
        margin-left: 5px;
    }
}