*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f5f5;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
    color: #2ec1ac;
    font-size: 40px;
    font-weight: normal;
}

header nav a{
    color: #1b262c;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo{
    color: #323edd;
}

/***********************************************Imagen principal*****************/

.foto-principal{
    font-size: 16px;
    min-height: 31.25em;
    color: #f8b400;
    background: linear-gradient(rgba(77, 239, 194, .15) 0%, #000 110%),
    url(../img/fondo2.jpg);
    /*background-position: center center;*/
    background-size: cover; /*q' la img abarque el 100% disponible si cambio tamaño de pantalla*/
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
    text-align: right; /*solo pude posicionar el título y los botones a la derecha, Why??*/
    
    
}

.foto-principal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
       
}

.foto-principal .titulo{
    font-size: 2em;
    margin-bottom: 0.4em;
}

.foto-principal .descripcion{
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    margin-left: 50%; /*¿Otra manera de posicionar a la derecha la descripción? con position?*/
  
}

.foto-principal .boton{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.9em 1.8em;
    color: #fff;
    margin-right: 1.2em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1em;
}

.foto-principal .boton:hover{
    background: #fff;
    color: #000;
}

/********************************************Responsive design*********************/
@media screen and (max-width: 800px){
    header .logotipo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
    }

    .foto-principal{
        font-size: 14px; /*Se achica el conjunto de los elementos que están dentro del contenedor foto-principal porque utilicé medidas relativas*/
    }

    .foto-principal .descripcion{
        max-width: 100%;
        margin-left: 5px;
    }
}